# Smiley Player Trader Configuration
# Configuration Documentation: https://github.com/Mrcomputer1/SmileyPlayerTrader/wiki/Configuration

# Configures worlds that players can or can't trade in.
allowedWorlds:
  # Either blacklist (players must not be in this world to trade) or whitelist (players must be in this to trade).
  mode: blacklist
  # List of worlds.
  worlds: []

# A list of sources for products
stockLocations:
  - inventory
  - enderchest
  - itemstorage # Requires item storage to be enabled, otherwise ignored.
#  - shulkerbox # Take items from Shulker Boxes in inventory. Doesn't receive earnings.
#  - shulkerbox_enderchest # Take items from Shulker Boxes in ender chests. Doesn't receive earnings.

# Require that the stock be retrieved from only one location, and not spread out across many locations.
useOnlyOneStockLocation: false

# Automatically thank a player for a purchase
autoThanks:
  # Supported modes are:
  # - player_chat: Send a message as the player in chat.
  # -     * may break on some versions of Paper, if the message contains colour or other formatting.
  # -     * does not work while the store player is offline.
  # - system_chat: Send a server message.
  # -     * works while the store player is offline.
  # - none: Disable autoThanks.
  mode: system_chat
  # Choose the message to send.
  # - Use "default" for the default message.
  # - Or, specify your own message, with colour codes accepted (example: &a for green).
  # Custom message replacements:
  # - %CUSTOMER% - The player that made the purchased.
  # - %MERCHANT% - The player that was purchased from.
  # Default messages are these:
  # - player_chat: "&aThanks for your purchase, %CUSTOMER%"
  # - system_chat: "&a[%MERCHANT%]: Thanks for your purchase, %CUSTOMER%"
  message: "default"
  # Choose who to send the message to.
  # Options are:
  # - everyone: All online players.
  # - customer: Only send to the customer.
  # - merchant: Only send to the merchant.
  # - involved: Only send to the people involved in the transaction (the customer and the merchant).
  # The following modes do not support the target option and will always use the specified default value:
  # - player_chat: "everyone".
  target: everyone

# Selected language (see the languages folder for a list of languages (or make your own inside that folder))
currentLanguage: en_us

# Database
database:
  type: sqlite # Database Type (supported values are "sqlite" and "mysql")
  file: database.db # Name of database file (sqlite only)
  prefix: spt # _ is not added by default (sqlite and mysql) - do not change once set
#  host: localhost # Host of database (mysql only)
#  port: 3306 # Port number of database (mysql only)
#  name: sptdatabase # Name of database (mysql only)
#  username: root # Username of database user (mysql only)
#  password: "" # Password of database user (mysql only)

# Check for updates
checkForUpdates: true

# Check for known bugs and warn you about them
checkForBugs:
  check: false # Checks for known bugs, and warns you about them
  disable: false # Disables the plugin automatically if a possibly bad bug (such as a duplication bug) is found

# Enables/Disables the GUI Manager
useGuiManager: true

# If true, you will not be able to trade with players by right-clicking them, you will only be able to use /spt trade.
disableRightClickTrading: false

# Configure item storage, used for offline trading.
itemStorage:
  enable: false # Enables storing product items and earnings in the product for offline trading.
  productStorageLimit: -1 # Limits amount of an item that can be stored. -1 to disable.
  notifyUncollectedEarningsOnLogin: true # Displays a notification when a player joins with uncollected earnings.

# Configure behaviour of out of stock items. Invalid options are treated as showByDefault.
# Supported options are:
# showByDefault - Show as out of stock, but let the player toggle this.
# hideByDefault - Hide when out of stock, but let the player toggle this.
# show: Always show as out of stock.
# hide: Always hide when out of stock.
outOfStockBehaviour: showByDefault

# Configures if earnings are given for an item with the admin option unlimited supply enabled.
doesUnlimitedSupplyEarn: true

# When using the "/spt create" command, require the item be in the player's hand.
requireItemInHandWhileUsingCreateCommand: false

# Configures how the cost items are compared when purchasing.
# Supported options are:
# strict - The cost item must match the item provided by the player exactly.
# vanilla - Item data is ignored on the item provided by the player when the cost item has no item data. This matches vanilla's trading behaviour.
purchaseCostComparison: strict

# Configures if a notification is sent to the server when a player creates a new trade.
# - "false" indicates no message should be sent.
# - "default" indicates the default message should be sent ("&a%MERCHANT% is now selling %ITEM_TYPE%.")
# - Any other value indicates a custom message to be sent. You can use colour codes and these replacements:
# -   * %MERCHANT% - The name of the player with the trade.
# -   * %ITEM_TYPE% - The type of the item the player is selling.
# -   * %ITEM_NAME% - The name of the item the player is selling.
sendNotificationOnNewTrade: "false"

# Configures if Vault is used to check permissions of offline players when attempting to trade with them.
# Disable this if you have Vault but don't have a permission plugin or the one you have doesn't support offline players.
# If disabled, the default permission value will be used instead. For "smileyplayertrader.merchant", this is "allow".
disableVaultOfflinePermissionChecking: false

# Automatically toggle off while in combat
autoCombatLock:
  enabled: true # Enables/Disables auto combat toggling
  combatLockLength: 30 # Combat lock length (in seconds)
  neverShowNotice: false # Enables/Disables the toggle notice (if this is false, the players can choose for themselves)

# Configures a cooldown period between trades
cooldown:
  enabled: false # Enable/Disables cooldown (by default, it is disabled)
  seconds: 10 # Cooldown time between trades (in seconds)

# Configure items in the quick selection on the Set Cost screen. You can have up to 6 items.
priceQuickSelection:
  - type: EMERALD
  - type: IRON_INGOT
  - type: COPPER_INGOT
  - type: GOLD_INGOT
  - type: DIAMOND
  - type: NETHERITE_INGOT

# Configure items in the extended price selector menu on the Set Cost screen.
priceSelectorMenu:
  # Configure items that should be automatically added to the "All", "Blocks" and "Items" list
  automaticAdd:
    vanilla: true
  # Automatically added vanilla items that should not be shown, defaults to /give-only and some non-survival items.
  hiddenItems:
    - BARRIER
    - COMMAND_BLOCK
    - REPEATING_COMMAND_BLOCK
    - CHAIN_COMMAND_BLOCK
    - DEBUG_STICK
    - COMMAND_BLOCK_MINECART
    - SPAWNER
    - STRUCTURE_BLOCK
    - STRUCTURE_VOID
    - DRAGON_EGG
    - KNOWLEDGE_BOOK
    - JIGSAW
    - LIGHT
    - SUSPICIOUS_STEW
    - POTION
    - SPLASH_POTION
    - LINGERING_POTION
    - TIPPED_ARROW
    - ENCHANTED_BOOK
    - WRITTEN_BOOK
    - FILLED_MAP
    - TEST_BLOCK
    - TEST_INSTANCE_BLOCK
    - "%SPAWN_EGGS%" # All spawn eggs.
  # Additional items that should be added to the main list
  extraItems: []
  # Items that should be in the featured list (by default, the same as the price quick selection)
  featuredItems:
    - type: EMERALD
    - type: IRON_INGOT
    - type: COPPER_INGOT
    - type: GOLD_INGOT
    - type: DIAMOND
    - type: NETHERITE_INGOT